layout pyenv 3.9.0
use sdk java 11.0.9.hs-adpt
export VBOXMANAGE=/Applications/VirtualBox.app/Contents/MacOS
export SPARK_HOME=$(pwd)/.spark
export PATH=$SPARK_HOME/bin:$VBOXMANAGE:$PATH
export PYSPARK_PYTHON=python3
